<!-- app/views/v1/banks/index.html.erb -->
<div class="max-w-md mx-auto mt-8">
  <h1 class="text-3xl font-bold mb-4">List of Banks</h1>

  <%= render partial: 'banks_table' %>

  <div class="mt-4">
    <%= link_to new_v1_bank_path, class: 'bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700 focus:outline-none focus:shadow-outline' do %>
      New Bank
    <% end %>
  </div>
</div>















